/* 声明本地中文字体 */
@font-face {
  font-family: 'LXGW WenKai Lite';
  src:
    url('/fonts/LXGWWenKaiLite-Regular.woff2') format('woff2'),
    url('/fonts/LXGWWenKaiLite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* 设置全局默认字体 */
@layer base {
  html {
    font-family:
      LXGW WenKai Lite,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
    font-weight: normal;
    font-size: 16px; /* 设置基础字体大小 */
  }
}

@layer components {
  .prose {
    font-size: 16px !important;

    /* 代码块样式 (用三个反引号包裹的) */
    & pre {
      margin: 0 !important;
      background: transparent !important;
      padding: 0 !important;

      & code.hljs {
        font-family:
          SF Mono,
          Menlo,
          Consolas,
          'Liberation Mono',
          'Courier New',
          monospace !important;
        font-size: 12px !important;
        line-height: 20px !important;
        font-weight: normal !important;
        padding: 16px !important;
        border-radius: 6px !important;
        border: 1px solid #e1e4e8 !important;
        background-color: #f6f8fa !important;
      }
    }

    /* 行内代码样式 (用单个反引号包裹的) */
    & :not(pre) > code.inline-code {
      background-color: #f2f2f2;
      padding: 0.2em 0.4em;
      border-radius: 0.25em;
      font-size: 0.875em;
      font-family:
        LXGW WenKai Lite,
        Menlo,
        monospace;
      color: #c7254e !important;
      user-select: all !important;

      &::before,
      &::after {
        content: none !important;
      }
    }
  }
}

/* 只需要保留代码块的基础样式 */
pre code.hljs {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #e1e4e8;
}
